{% extends 'base.html' %}

{% block page_content %}
<div class= 'personal-block'>
    <h3 class="light-text heading">Hello, {{ current_user.nickname }}</h3>
    <div class="jumbotron">
        <h3 class="your-surveys light-text">Your surveys:</h3>
        {% for survey in surveys %}
            <div class="survey-entry">
                <h2 class="survey-name">"{{survey.name}}"</h2>
                <a class="btn blue-button survey-status" href="{{ url_for('.distribution', id=survey.id) }}" role="button">Respondents And Status</a>
            </div>
        {% endfor %}
    </div>
    <div class="button-container">
        <a class="btn  btn-lg blue-button" href="{{ url_for('survey.show_add_form', user_id=current_user.id) }}" role="button">Add new Survey</a>
        <a class="btn btn-default btn-lg form-button" href="{{ url_for('.statistic', user_id=current_user.id) }}" role="button">Look at Statistic</a>
    </div>
</div>
{% endblock page_content %}
